<a href="https://colab.research.google.com/github/H0E0M0A0N0T0/Ai-ml-lab-sheets-/blob/main/LabSheeet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CREATING TUPLE WITH SINGLE ELEMENT

a=(5,)
print(a)
print(type(a))

(5,)
<class 'tuple'>

In [ ]:
#RECREATING TUPLE WITH INTIGER

a=(1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

In [ ]:
#CREATING TUPLE WITH FLOAT NUMBERS

b=(1.2,2.3,3.4,4.5,5.6)
print(b)

(1.2, 2.3, 3.4, 4.5, 5.6)

In [ ]:
#CREATING TUPLE WITH STRING NUMBERS

c=("one","two","three","four","five")
print(c)

('one', 'two', 'three', 'four', 'five')

In [ ]:
#CREATING TUPLE WITH MULTIPLE DATA TYPES

d=(1,2,3,4,5,"one","two","three","four","five")
print(d)

(1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five')

In [ ]:
#ACCESSING ITEMS OF STRING

a=(1,2,3,4,"hello")
print(a[4])

hello

In [ ]:
#CREATING A DICTIONARY
a={
    "name":"Joy",
    "age":23,
    "education":"Engineer",
}
print(a)

{'name': 'Joy', 'age': 23, 'education': 'Engineer'}

In [ ]:
type(a)

dict

In [ ]:
x=a.keys()
print(x)

dict_keys(['name', 'age', 'education'])

In [ ]:
y=a.values()
print(y)

dict_values(['Joy', 23, 'Engineer'])

In [ ]:
z=a.items()
print(z)

dict_items([('name', 'Joy'), ('age', 23), ('education', 'Engineer')])

In [ ]:
#SET

set1={1,2,3,4,5}print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# DUPLICATE NOT ALLOWED

set={1,2,3,4,5,1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [ ]:
len(set)

5

In [ ]:
type(set)

set

In [ ]:
def add():
  a=2
  b=2
  sum=a+b
  return sum
add()
print(add())

4